Bibliotecas utilizadas:

- time:
    + Necessário apenas utilizar: import time
    + Já está presente em gerador_senhas.py
- string:
    + Necessário apenas utilizar: import string
    + Já está presente em gerador_senhas.py
- random:
    + Necessário apenas utilizar: import random
    + Já está presente em gerador_senhas.py
- streamlit:
    + Necessário intalar biblioteca através de pip: pip install streamlit
    + Comando presente no arquivo EXECUTEME.sh

Executar Código:
- Para executar o código adequadamente é necessário ir no terminal e usar o comando: 
    + streamlit run /workspaces/desafioIV-1/gerador_senhas.py
    + Comando presente no arquivo EXECUTEME.sh
